.chest-centre {
  text-align: center;
}

#chest-img {
  width: 600px;
}

.copyright {
  color: #777;
}

body {
  font-family: 'Lato', sans-serif;
}

.social a i {
	color: #ccc;
}

.facebook-like-button i:hover {
	color: #4c66a4;
}

.twitter-share-button i:hover {
	color: #0084b4;
}

.github-fork-button i:hover {
	color: #333;
}