.chest-centre {
	text-align: center;
}

.player-container {
	padding-left: 105px;
	float: left;
}

#chest-img {
	height: 400px;
}

.copyright {
	color: #777;
}

.copyright a:hover {
	text-decoration: none;
	color: #009bcd;
}

.disabled {
	pointer-events: none;
	cursor: default;
}

body {
	font-family: 'Lato', sans-serif;
}

.indent {
	background-color: #000;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(255,255,255,0.3) 0px 1px 1px;
}

.social a i {
	color: #ccc;
}

.facebook-like-button i:hover {
	color: #4c66a4;
}

.twitter-share-button i:hover {
	color: #0084b4;
}

.github-fork-button i:hover {
	color: #333;
}

#headphone-button i:hover {
	color: #cc181e;
}

.red {
	color: #cc181e !important;
}

#peakin-track-container {
	width: 4em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.peakin-track a i {
	color: #ccc;
	font-size: 4em;
}

#peakin-track-player {
	height: 0px;
	width: 0px;
}

.peakin-popover-content {
	text-align: center;
	min-height: 80px;
}

.peakin-popover-content a {
	color: #555;
}

.peakin-popover-footer {
	text-align: center;
}

.peakin-popover-title {
	height: 14px;
}

.peakin-skip a i {
	font-size: 1em;
	color: #777;
}

#peakin-next {
	float: right;
}

#peakin-prev {
	float: left;
}

#soundcloud-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: -4px;
}


#peakin-skiptodrop {
	margin-bottom: 0px;
	padding: 4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#peakin-skiptodrop a {
	color: #cc181e;
	text-decoration: none;
}

#peakin-skiptodrop a i {
	font-size: 1em;
	color: #cc181e;
}

#skiptodrop-text {
	font-size: 1.2em;
}

#waveform {
	visibility: hidden;
}

.popover {
    width: 250px;
}

.tooltip {
	position: fixed;
}

.well-flat {
	border-radius: 0px;
}

.jiggle {
	/* Make it wiggle */
	-ms-animation:wiggle .35s infinite;
	-moz-animation:wiggle .35s infinite;
	-webkit-animation:wiggle .35s infinite;
	animation:wiggle .35s infinite;
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(8deg);}50%{-ms-transform:rotate(-8deg);}100%{-ms-transform:rotate(8deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(8deg);}50%{-moz-transform:rotate(-8deg);}100%{-moz-transform:rotate(8deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(8deg);}50%{-webkit-transform:rotate(-8deg);}100%{-webkit-transform:rotate(8deg);}}
@keyframes wiggle{0%{transform:rotate(8deg);}50%{transform:rotate(-8deg);}100%{transform:rotate(8deg);}}

