.chest-centre {
	text-align: center;
}

#chest-img {
	height: 400px;
}

.copyright {
	color: #777;
}

body {
	font-family: 'Lato', sans-serif;
}

.social a i {
	color: #ccc;
}

.facebook-like-button i:hover {
	color: #4c66a4;
}

.twitter-share-button i:hover {
	color: #0084b4;
}

.github-fork-button i:hover {
	color: #333;
}

#headphone-button i:hover {
	color: #cc181e;
}

.red {
	color: #cc181e !important;
}

#peakin-track-container {
	width: 4em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.peakin-track a i {
	color: #ccc;
	font-size: 4em;
}

#peakin-track-player {
	height: 0px;
	width: 0px;
}

.peakin-popover-content {
	text-align: center;
}

.peakin-popover-content a {
	color: #555;
}

.peakin-popover-title {
	height: 14px;
}

#peakin-skip a i {
	font-size: 1em;
	float: right;
	color: #777;
}

#peakin-skiptodrop {
	margin-bottom: 0px;
	padding: 4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#peakin-skiptodrop a {
	color: #cc181e;
	text-decoration: none;
}

#peakin-skiptodrop a i {
	font-size: 1em;
	color: #cc181e;
}

#skiptodrop-text {
	font-size: 1.2em;
}

#waveform {
	visibility: hidden;
}

#soundcloud-logo {
	float: left;
	margin-top: -4px;
}

.popover {
    width: 250px;
}

.jiggle {
	/* Make it wiggle */
	-ms-animation:wiggle .35s infinite;
	-moz-animation:wiggle .35s infinite;
	-webkit-animation:wiggle .35s infinite;
	animation:wiggle .35s infinite;
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(8deg);}50%{-ms-transform:rotate(-8deg);}100%{-ms-transform:rotate(8deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(8deg);}50%{-moz-transform:rotate(-8deg);}100%{-moz-transform:rotate(8deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(8deg);}50%{-webkit-transform:rotate(-8deg);}100%{-webkit-transform:rotate(8deg);}}
@keyframes wiggle{0%{transform:rotate(8deg);}50%{transform:rotate(-8deg);}100%{transform:rotate(8deg);}}

